block content
    form(id="dane_post" action ="/login",method="post")
        input(type="text", name="login",value="",placeholder="Tu imie")
        br
        input(type="password", name="password",value="",placeholder="Tu has")
        button(type="submit") Zaloguj
